@import "tailwindcss";

@theme {
  --color-risk-low: #10B981;
  --color-risk-medium: #F59E0B;
  --color-risk-high: #EF4444;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f9fafb;
}
